body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 180px;
    padding: 0;
    width: 500px;
}

h1 {
    font-family: "Menlo", monospace;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    color: #2f5876;
}

.app li {
    padding: 20px;
    margin: 10px auto;
    list-style-type: none;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.app-title {
    text-align: center;
    font-weight: normal;
    font-size: 2.6rem;
}

a:link,
a:visited {
    color: #000000;
    outline: 0;
    text-decoration: none;
}

img {
    width: 30px;
}

.modal-header {
    align-items: center;
    border-bottom: 0.5px solid #dadada;
}

.modal-content {
    padding: 0 42px;
}

.modal-icons {
    border-top: 0.5px solid #dadada;
    height: 50px;
    width: 100%;
}

.logo {
    padding: 16px;
}

.logo-icon {
    vertical-align: text-bottom;
    margin-right: 12px;
}

.version {
    color: #444;
    font-size: 18px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 22px;
}

.flex {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    width: 120px;
}

.flex:hover {
    opacity: 0.4;
}

.flex .fa {
    font-size: 40px;
    color: #2f5876;
}